<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/logo.png" alt="KittyCash"/>
      <span translate>Explore Our kitties</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>

    <div class="row" [hidden]="isLoading">
    	<div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let cat of kitties | paginate: { itemsPerPage: 8, currentPage: page }">
    		<cat-box [cat]="cat" action="explore"></cat-box>
    	</div>
    </div>

    <div class="row" [hidden]="isLoading">
    	<div class="col-xs-12 mx-auto">
    		<pagination-controls (pageChange)="page = $event" previousLabel="{{'Previous' | translate}}" nextLabel="{{'Next' | translate}}"></pagination-controls>
    	</div>
    </div>

</div>
