<div class="cat-box py-3">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 offset-3">
                    <img [src]="cat.image" class="img-fluid" alt="{{cat.name}}">
                    <h2 class="pt-3" *ngIf="cat.legendary">Legendary</h2>
                    <h1 *ngIf="cat.box_open">{{cat.name}}</h1>
                    <p class="med price">{{cat.price_btc | satoshi}} BTC</p>
                    <p class="med">For Sale</p>
                    <p class="pt-1"><span translate>Created</span>: 10/3/17</p>
                    <p><span translate>Breed</span>: {{cat.breed}}</p>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12 text-center" [ngSwitch]="action">
                    <div *ngSwitchCase="'buy'">
                        <button class="btn btn-primary" (click)="buy()" translate>Buy</button>
                    </div>
                    <div *ngSwitchCase="'owned'">
                        <div class="btn-group d-flex" role="group">
                          <button type="button" class="btn btn-primary w-100" (click)="showToDo()" translate>Ancestry</button>
                          <button type="button" class="btn btn-primary w-100" (click)="showToDo()" translate>Sell</button>
                          <button type="button" class="btn btn-primary w-100" (click)="showToDo()" translate>Gift</button>
                          <button type="button" class="btn btn-primary w-100" (click)="showToDo()" translate>Sire</button>
                        </div>
                    </div>
                    <div *ngSwitchCase="'breed'">
                        <button class="btn btn-block btn-primary" (click)="breed()" translate>Breed with this cat</button>
                    </div>
                    <div *ngSwitchCase="'box'">
                        <button class="btn btn-primary" (click)="reserve(cat)" translate>Reserve</button>
                    </div>
                    <div *ngSwitchCase="'explore'">
                        <!-- Nothing to see -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>