/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.btn-primary {
    color: $white;
    background-color: $kittyred;
    border-color: $kittyred;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: $kittyred;
    border-color: $kittyred;
}

.btn-primary:hover {
    color: $kittyred;
    background-color: transparent;
    border-color: $kittyred;
}

.btn-outline-primary {
    color: $kittyred;
    border-color: $kittyred;
}

.btn-outline-primary:hover {
    color: $white;
    background-color: $kittyred;
    border-color: $kittyred;
}