<div>
  <div class="modal fade show">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" translate>Confirm Email Address</h5>
        </div>
        <div class="modal-body">
          <div *ngIf="!doConfirm">
            <div class="row">
              <div class="col-12">
                <p translate>Enter your email address:</p>
              </div>
            </div>
            <form class="row"[formGroup]="sendCodeForm" novalidate>
              <div class="col-12">
                  <input type="email" class="form-control" placeholder="{{'email@example.com' | translate}}" formControlName="email">
                  <small [hidden]="sendCodeForm.controls.email.valid || sendCodeForm.controls.email.untouched"
                       class="text-danger" translate>
                    Invalid Email Address.
                </small>
              </div>
              <div class="col-12">
                <div class="recaptcha-container">
                  <re-captcha formControlName="recaptcha"></re-captcha>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="doConfirm">
            <div class="row">
              <div class="col-12">
                <p translate>Enter your confirmation code:</p>
              </div>
            </div>
            <form class="row" (ngSubmit)="confirm()" [formGroup]="confirmCodeForm" novalidate>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="{{'enter code from email here' | translate}}" formControlName="code">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cancel()" translate>Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="confirmCodeForm.invalid" *ngIf="doConfirm" translate>Confirm</button>
          <button type="button" class="btn btn-primary" (click)="sendCode()" [disabled]="sendCodeForm.invalid" *ngIf="!doConfirm" translate>Send Code</button>
        </div>
      </div>
    </div>
  </div>
</div>
